<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <!--  본문 영역 시작  -->

    <div class="container">
        <!-- 좋아요 -->
        <div style="display:flex; justify-content:center; align-items:center">
            <!-- 좋아요 누르지 않았을 때 -->
            <i class="bi bi-suit-heart" id="heart-icon-false" th:if="${!likeFlag}" onclick="addLike(event); return;"></i>
            <!-- 좋아요 눌렀을 때 -->
            <i class="bi bi-suit-heart-fill" id="heart-icon-true" th:if="${likeFlag}"></i>
            <span style="margin: 0 0 2px 5px; color: #4F5E5A;" th:text="${board.likes}"></span>
            <form id="like-form" method="post" th:action="@{/like/add}">
                <!-- CSRF 공격에 대비한 임의의 난수 생성 -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="bid" th:name="bid" th:value="${board.id}" />
            </form>
        </div>

        <div class="py-5 text-center">
            <h1 th:text="${board.title}" style="color:#4F5E5A">게시물 제목</h1>
            <hr class="my-4">
            <div th:text="'작성자: ' + ${board.writer} + ' | 조회수: ' + ${board.views} + ' | 등록일: ' + ${board.regdate}" style="color:#4F5E5A">게시물 정보</div>
        </div>

        <div class="jumbotron jumbotron-fluid" style="background-color:transparent">
            <div class="container">
<!--                <h1 class="display-4">Fluid jumbotron</h1>-->
                <p class="lead" th:utext="${board.content}" style="color:#4F5E5A">게시물 내용</p>
            </div>
        </div>

        <!-- 해시태그 영역 -->
        <div th:each="tag : ${tagList}" style="display: inline; font-style:italic">
            <a th:href="@{'/?searchType=tag&keyword=%23' + ${tag}}" style="color: gray">
                <span th:text="'#' + ${tag}"></span>
            </a>
        </div>

        <!-- 해시태그 영역 끝 -->

        <!-- 자바 스크립트 영역 -->
        <script>
            function addLike(event) {
                event.preventDefault();

                let form = document.getElementById("like-form");
                let iconFalse = document.getElementById("heart-icon-false");

                form.submit();
                iconFalse.classList.remove("bi-suit-heart");
                iconFalse.classList.add("bi-suit-heart-fill");
                iconFalse.onclick = null;
            }
        </script>

        <!-- 좋아요 영역 끝 -->

        <!-- 첨부파일 영역 -->
        <h5>첨부파일</h5>
<!--        <ul>-->
<!--            <li th:each="file : ${fileList}">-->
<!--                <a th:href="@{'/board/file/' + ${file.id}}"-->
<!--                   onclick="window.open(this.href, 'popup', 'width=500, height=500'); return false;">-->
<!--                    <img th:src="@{'file://' + ${file.filePath}}" width="100" height="100" alt="file">-->
<!--                    <p th:text="${file.filePath}"></p>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
        <ul>
            <li th:each="file : ${fileList}">
                <a th:href="@{'/board/file/' + ${file.id}}">
                    <img th:src="@{${file.filePath}}" width="100" height="100" alt="file">
                    <span th:text="${file.oriFileName}"></span>
                </a>
            </li>
        </ul>


        <!-- 첨부파일 영역 끝 -->

        <!-- 수정 버튼 -->
        <!-- board의 작성자가 로그인한 사용자일 경우 수정 버튼 보여주기 -->
        <button class="btn" style="font-weight:500;"
                th:if="${isWriter eq true}"
                th:onclick="|location.href='@{/edit/{id}(id=${board.id})}'|"
                type="button">수정</button>


        <br><br>

        <!-- 댓글 영역 시작 -->
        <div th:replace="board/comment::#comment" th:with="commentList=${commentList}"></div>
        <!-- 댓글 영역 끝 -->

        <!-- 버튼 영역 시작 -->
        <div class="board-btn-div">
<!--            <button class="btn" style="font-weight:500;"-->
<!--                    th:onclick="|location.href='@{/write}'|"-->
<!--                    type="button">글쓰기</button>-->

            <button class="btn" style="font-weight:500;"
                    th:onclick="|location.href='@{/}'|"
                    type="button">목록</button>
        </div>
        <!-- 버튼 영역 끝 -->
        <div class="floating-button">
            <span class="move-write">
                <a class="write-btn" href="/write"></a>
            </span>
        </div>


    </div> <!-- /container -->

    <!--  본문 영역 끝  -->
</div>
</html>
