<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <!--  본문 영역 시작  -->

    <div class="container">
        <div class="py-5 text-center">
            <h2 th:text="${board.title}">게시물 제목</h2>
            <hr class="my-4">
            <div th:text="'작성자: ' + '${board.writer}' + ' | 조회수: ' + ${board.view_cnt} + ' | 등록일: ' + ${board.regdate}">게시물 정보</div>
        </div>
        <div class="card">
            <div class="card-body" th:utext="${board.content}">게시물 내용</div>
        </div>

        <br><br>

        <!-- 댓글 영역 시작 -->
        <div th:replace="board/comment::#comment"></div>
        <!-- 댓글 영역 끝 -->

        <!-- 버튼 영역 시작 -->
        <button class="btn btn-primary float-end"
                th:onclick="|location.href='@{/board/write}'|"
                type="button">글쓰기</button>

        <button class="btn btn-primary float-end"
                th:onclick="|location.href='@{/board/list}'|"
                type="button">목록</button>
        <!-- 버튼 영역 끝 -->


    </div> <!-- /container -->

    <!--  본문 영역 끝  -->
</div>
</html>
