<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/board/board}">
<div id="comment" layout:fragment="comment">
  <h3 style="color:#4F5E5A;">COMMENT</h3>
  <hr>
  <!-- 댓글 입력 폼 -->
  <form method="post" th:action="@{/comment}">
    <input type="hidden" th:name="boardId" th:value="${board.id}">
    <div class="form-group d-flex">
      <textarea class="form-control" rows="3" placeholder="댓글을 입력하세요" name="content" required></textarea>
      <button type="submit" class="btn" style="width:150px; font-weight:500;">등록</button>
    </div>
  </form>
</div>
</html>
