<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/board/board}">
<div id="comment" layout:fragment="comment">
  <h3 style="color:#4F5E5A;">COMMENT</h3>
  <hr>
  <!-- 댓글 영역 시작 -->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--&lt;!&ndash;      <ul class="list-unstyled">&ndash;&gt;-->
<!--        <div class="card">-->
<!--          <ul class="list-group list-group-flush" style="max-width: 100%; min-width: 100%;">-->
<!--            &lt;!&ndash; 댓글 리스트 반복문 시작 &ndash;&gt;-->
<!--            <li class="list-group-item" th:each="comment : ${commentList}">-->
<!--              <h5 class="card-title">-->
<!--                <span class="fw-bold" th:text="${comment.writer}"></span>-->
<!--                <span class="text-muted" th:text="${comment.regdate}"></span>-->
<!--              </h5>-->
<!--              <p class="card-text" th:text="${comment.content}"></p>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--    </div>-->


  <div class="jumbotron" th:each="comment : ${commentList}">
    <p th:text="${comment.cid}"></p>
    <h6 class="display-4" th:text="${comment.content}">내용</h6>
    <p class="lead" th:text="${comment.regdate}">등록일</p>
    <hr class="my-4">
    <p class="lead" th:text="${comment.writer}" style="font-weight:bold">작성자</p>
    <button type="button" class="btn btn-primary" id="replyBtn"
            onclick="showRecommentForm(${comment.cid})" sec:authorize="isAuthenticated()">답글 달기</button>

  <!--  대댓글 입력 폼  -->
    <div th:id="'recomment-form-' + ${comment.cid}" style="display:none" sec:authorize="isAuthenticated()">
      <form method="post" action="/comment/add/recomment">
        <!-- CSRF 공격에 대비한 임의의 난수 생성 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" th:name="bid" th:value="${board.id}">
        <input type="hidden" th:name="group" th:value="${comment.cid}">
        <div class="form-group d-flex">
          <textarea class="form-control" rows="3" placeholder="댓글을 입력하세요" th:name="content" required></textarea>
          <button type="submit" class="btn" style="width:150px; font-weight:500;">등록</button>
        </div>
      </form>
    </div>
  <!--  대댓글 입력 폼 끝  -->

  </div>
  <br>
<!--  </div>-->
  <!-- 댓글 영역 끝 -->

  <!-- 댓글 입력 폼 -->
<!--  <form method="post" action="/comment/add" sec:authorize="isAuthenticated()">-->
<!--    &lt;!&ndash; CSRF 공격에 대비한 임의의 난수 생성 &ndash;&gt;-->
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
<!--    <input type="hidden" th:name="bid" th:value="${board.id}">-->
<!--    <div class="form-group d-flex">-->
<!--      <textarea class="form-control" rows="3" placeholder="댓글을 입력하세요" th:name="content" required></textarea>-->
<!--      <button type="submit" class="btn" style="width:150px; font-weight:500;">등록</button>-->
<!--    </div>-->
<!--  </form>-->
  <!-- 댓글 입력 폼 끝 -->


  <!-- 답글 JavaScript 영역 -->
  <script>
    function showRecommentForm(commentId) {
      var commentForm = document.getElementById("recomment-form-" + commentId);
      commentForm.style.display = "block";
    }
  </script>
  <!-- 답글 JavaScript 영역 끝 -->
</div>
</html>
