<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
  <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

  <div class="container-write">
    <form action="/write" method="post" enctype="multipart/form-data">
      <div id="content-view">
        <div id="content-view-inner">
          <input type="hidden" name="id" th:value="${board.id}">
          <input required type="text" id="edit-title" name="title" th:value="${board.title}" maxlength="30" style="width: 100%; max-width: 800px; border:none; outline: none; font-size:20px; color:#4F5E5A;"><hr>
          <!-- 해시 태그 영역 -->
          <input class="tagInput" type="text" placeholder="#">
          <div class="tagBox" style="display: flex">
            <span class="innerBox"></span>
            <input class="tagValue" type="hidden" name="tags" th:value="${tags}">
          </div>
          <!-- 해시 태그 영역 끝 -->
          <hr>
          <!-- CSRF 공격에 대비한 임의의 난수 생성 -->
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <!-- 에디터 영역 -->
          <textarea id="editor" name="content" th:value="${board.content}" th:utext="${board.content}" style="color:#4F5E5A"></textarea>
          <!-- 파일 업로드 영역 -->
          <div th:replace="board/fileupload::#fileupload" th:with="boardFileDto=${boardFileDto}"></div><hr>
          <!-- 파일 업로드 영역 끝 -->
          <div class="board-btn-div">
            <input type="button" class="btn" th:onclick="goBack()" value="작성취소" />
            <input type="submit" class="btn" value="작성완료" />
          </div>
          <hr><br><br>
        </div>
      </div>
    </form>
  </div>

  <!-- 해시태그 스크립트 -->
  <!-- 해시태그 스크립트 -->
  <script>
    window.onload = function() {
      initHandler();
    }

    const box = document.querySelector('.tagBox');
    const innerBox = document.querySelector('.innerBox');
    const tagInput = document.querySelector('.tagInput');
    const tagValue = document.querySelector('.tagValue');
    let tags = [];

    function initHandler(){ // 초기화
      // Events
      box.addEventListener('click', ()=>{ tagInput.focus() });
      box.addEventListener('click', removeTagHandler);
      tagInput.addEventListener('keydown', addTagHandler);
      let arr = tagValue.value.split(/[#,]+/).filter(item => item !== "");
      for(let i = 0; i < arr.length; i++) {
        let value = "#" + arr[i].replaceAll(" ", "");
        tags.push(value);
      }
      render();
    }

    // 태그 추가
    function addTagHandler(ev){ // 태그 추가
      if(ev.target === tagInput && ev.key === "Enter"){
        ev.preventDefault();
        let arr = tagInput.value.split(/[#,]+/).filter(item => item !== "");
        for(let i = 0; i < arr.length; i++) {
          let value = "#" + arr[i].replaceAll(" ", "");
          tags.push(value);
          tagValue.value = tagValue.value + value;
        }
        render();
        tagInput.value = "";
      }
    }

    // 태그 제거
    function removeTagHandler(ev){
      let target = ev.target;
      if(target.tagName === "SPAN" && target.className === "close"){
        let textNode = target.previousElementSibling.innerText.trim();
        tagValue.value = tagValue.value.replace(textNode, "");
        tags = tags.filter(tag=> textNode !== tag);
        render();
      }
    }

    // 출력부
    function render(){
      let tmp = '';
      let template = tag => `<span class="tag"><span>${tag}</span><span class="close"> &times;</span></span>`;
      tags.forEach(tag=>{
        tmp += template(tag);
      });
      innerBox.innerHTML = tmp;
    }

    // 뒤로가기
    function goBack() {
      window.history.back();
    }
  </script>

  <!-- CKEditor -->
  <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
  <script>
    ClassicEditor
            .create(document.querySelector('#editor'), {
              ckfinder: {
                uploadUrl : '/uploadImage'
              }
            })
            .then(editor => {
              console.log(editor);
            })
            .catch(error => {
              console.error(error);
            });


  </script>
</div>
</html>