<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <!--  본문 영역 시작  -->

    <div class="container">
        <div class="py-5 text-center">
<!--            <h2 th:text="#{page.boards}">글 목록</h2>-->
        </div>

        <div class="card-deck">
            <div class="card" th:each="board: ${boardList}">
                <img src="../../css/garlic6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" th:href="@{/board/{id}(id=${board.id})}" th:text="${board.id}">글 ID</p>
                    <h4 class="card-title"><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}">제목</a>
                    </h4>
                    <h5 class="card-text" th:text="'${board.writer}'">작성자</h5>
                    <p th:text="${board.view_cnt}">조회수</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="${board.regdate}">등록일</small>
                </div>
            </div>
        </div>

<!--        <div class="card-deck d-flex flex-wrap" th:each="board : ${boardList}">-->
<!--            <div class="card" style="width: 350px;">-->
<!--                <img src="C:\page6\src\main\resources\static\css\garlic6.jpg" class="card-img-top" alt="garlic6">-->
<!--                <div class="card-body">-->
<!--                    <p th:href="@{/board/{id}(id=${board.id})}" th:text="${board.id}">글 ID</p>-->
<!--                    <h4 class="card-title"><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}">제목</a>-->
<!--                    </h4>-->
<!--                    <p class="card-text" th:text="'${board.writer}'">작성자</p>-->
<!--                    <p class="card-text" th:text="${board.view_cnt}">조회수</p>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <small class="text-muted" th:text="${board.regdate}">등록일</small>-->
<!--                </div> &lt;!&ndash; card-footer end &ndash;&gt;-->
<!--            </div> &lt;!&ndash; card end &ndash;&gt;-->
<!--        </div> &lt;!&ndash; card-deck end &ndash;&gt;-->

    </div> <!-- /container -->

        <hr class="my-4">


                <button class="btn btn-primary float-end"
                        th:onclick="|location.href='@{/board/write}'|"
                        type="button">글 등록</button>
                <!--                        type="button" th:text="#{page.addBoard}">글 등록</button>-->

    <!--  본문 영역 끝  -->
</div>
</html>