<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <!--  본문 영역 시작  -->

    <div class="container">
<!--    정렬 조건    -->
        <form th:action="@{/}" method="get" class="form-inline my-2 my-lg-0">
            <div class="sort">
                <label for="sort-type"></label>
                <select name="sortType" class="form-control mb-2" id="sort-type" onchange="this.form.submit()">
                    <option value="id" th:selected="${sortType == 'index'}">날짜</option>
                    <option value="member" th:selected="${sortType == 'member'}">작성자</option>
                    <option value="title" th:selected="${sortType == 'title'}">제목</option>
                    <option value="likes" th:selected="${sortType == 'likes'}">좋아요</option>
                    <option value="views" th:selected="${sortType == 'views'}">조회수</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="sortOrder" class="sr-only">Sort order</label>
                <select class="form-control mb-2" id="sortOrder" name="sortOrder"
                        onchange="this.form.submit()">
                    <option value="asc" th:selected="${sortOrder=='asc'}">오름차순</option>
                    <option value="desc" th:selected="${sortOrder=='desc'}">내림차순</option>
                </select>
            </div>
            <input type="hidden" name="keyword" th:value="${keyword}" />
            <input type="hidden" name="searchType" th:value="${searchType}" />
        </form>

        <!-- 게시물이 없을 때 -->
        <div th:if="${boardList.isEmpty()}" class="empty-message">
            게시물이 없습니다.
        </div>
        <!-- 게시물이 있을 때 -->
        <div th:if="${not boardList.isEmpty()}" class="card-deck">
            <div class="card" th:each="board: ${boardList}">
                <div class="likes">
                    <img src="../../css/heart.png" class="heart" alt="heart">
                    <span th:text="${board.likes}" style="color:#4F5E5A">좋아요수</span>
                </div>
<!--                <img class="card-img-top" th:if="${not #strings.isEmpty(board.image)}" th:src="${board.image}" alt="게시물 이미지">-->
<!--                <img class="card-img-top" th:if="${#strings.isEmpty(board.image)}" src="" alt="이미지 없음">-->
                <img src="../../css/garlic6.jpg" class="card-img-top" alt="garlic6">
                <div class="card-body">
<!--                    <p class="card-text" th:href="@{/board/{id}(id=${board.id})}" th:text="${board.id}">글 ID</p>-->
                    <h3 class="card-title"><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.comment_cnt > 0 ? board.title + ' [' + board.comment_cnt + ']' : board.title}" style="color:#4F5E5A">제목</a></h3>
                    <h5 class="card-text" th:text="${board.writer}" style="color:#4F5E5A">작성자</h5>
                </div>
            <div class="card-footer">
                <small class="text-muted" th:text="${board.dateBefore}" style="color:#4F5E5A">등록일</small>
                <div class="views">
                    <img src="../../css/eye.png" class="eye" alt="eye">
                    <span th:text="${board.views}" style="color:#4F5E5A">조회수</span>
                </div>
            </div>
            </div>
        </div>

        <br>

<!--   페이징 버튼     -->
        <div class="paging-btn" th:if="${not boardList.isEmpty()}">
            <div class="blank-space"></div>

<!--            <a th:if="${nowPage > 5}" th:href="@{/search(page=1, sortType=${sortType}, sortOrder=${sortOrder}, keyword=${keyword}, searchType=${searchType})}">처음</a>-->

            <a th:if="${nowPage > 5}" th:href="@{/(page=0, sortType=${sortType}, sortOrder=${sortOrder}, keyword=${keyword}, searchType=${searchType})}">처음</a>
            <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/(page=${page}, sortType=${sortType}, sortOrder=${sortOrder}, keyword=${keyword}, searchType=${searchType})}" th:text="${page}"></a>
<!--                <a th:if="${page != nowPage}" th:href="@{/search(page=${page})}" th:text="${page}"></a>-->
                <strong th:if="${page==nowPage}" th:text ="${page}" style="color:#4F5E5A; font-weight: bolder; font-size: larger; margin-bottom: 15px;"></strong>
            </th:block>
<!--            <a th:if="${nowPage < lastPage - 4}" th:href="'/?page='+${lastPage}">마지막</a>-->
            <a th:if="${nowPage < lastPage - 5}" th:href="@{/(page=${lastPage}, sortType=${sortType}, sortOrder=${sortOrder}, keyword=${keyword}, searchType=${searchType})}">마지막</a>
<!--            <a th:if="${nowPage < lastPage}" th:href="@{/search(page=${lastPage})}">마지막</a>-->
            <div class="blank-space"></div>
        </div>
    </div> <!-- /container -->

    <hr class="my-4">

    <div class="floating-button">
    <span class="move-write">
        <a class="write-btn" href="/write"></a>
    </span>
    </div>

<!--        서치          -->
    <form id="searchForm" th:action="@{/}" method="get" class="form-inline my-2 my-lg-0" style="align-content: center;">
        <div style="margin: 0 auto; width: 500px">
            <div class="search-btn-div">
                <div class="sort">
                    <label for="searchType"></label>
                    <select name="searchType" class="form-control mb-2" id="searchType">
                        <option th:selected="${searchType == 'title'}" value="title">제목</option>
                        <option th:selected="${searchType == 'content'}" value="content">본문</option>
                        <option th:selected="${searchType == 'titleContent'}" value="titleContent">제목+본문</option>
                        <option th:selected="${searchType == 'member'}" value="member">작성자</option>
                        <option th:selected="${searchType == 'tag'}" value="tag">태그</option>
                    </select>
                </div>
                <label for="keyword" class="sr-only">검색</label>
                <input class="box" id="keyword" name="keyword" type="search" placeholder="키워드를 입력하세요" aria-label="Search" th:value="${keyword}">
                <button class="btn" type="submit">검색</button>
            </div>
        </div>
    </form>
    <br>
    <!--  본문 영역 끝  -->
</div>


</html>