<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <!--  본문 영역 시작  -->

    <div class="container" style="max-width: 1000px">
        <div class="py-5 text-center">
<!--            <h2 th:text="#{page.boards}">글 목록</h2>-->
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/board/write}'|"
                        type="button">글 등록</button>
<!--                        type="button" th:text="#{page.addBoard}">글 등록</button>-->
            </div>
        </div>

        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
<!--                    <th th:text="#{label.boardList.id}">No</th>-->
<!--                    <th th:text="#{label.boardList.title}">제목</th>-->
<!--                    <th th:text="#{label.boardList.name}">작성자</th>-->
<!--                    <th th:text="#{label.boardList.view_cnt}">조회수</th>-->
<!--                    <th th:text="#{label.boardList.regdate}">등록일</th>-->
                    <th>No</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>등록일</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boards}">
                    <td><a href="item.html" th:href="@{/board/{id}(id=${boardList.id})}" th:text="${boardList.id}">글 ID</a></td>
                    <td><a href="item.html" th:href="@{/board/{id}(id=${boardList.id})}" th:text="${boardList.title}">제목</a></td>
<!--                    <td th:text="${boardList.name}">작성자</td>-->
                    <td th:text="${boardList.view_cnt}">조회수</td>
                    <td th:text="${boardList.regdate}">등록일</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div> <!-- /container -->

    <!--  본문 영역 끝  -->
</div>
</html>