<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">

    <div class="nickname-container">
        <div class="nickname">
            <h3 th:text="${nickname} + ' 님의 댓글'" style="color:#4F5E5A;"></h3>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>게시글 번호</th>
                <th>댓글 내용</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${myCommentList}">
                <td><a th:href="@{/board/{id}(id=${comment.bid})}" th:text="${comment.bid}">게시글 ID</a></td>
<!--                <td style="width: 50%;"><a th:href="@{/comment/{id}(id=${comment.id})}" th:text="${board.comment_cnt > 0 ? board.title + ' [' + board.comment_cnt + ']' : board.title}">제목</a></td>-->
                <!--        <td style="width: 50%;"><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title + ' [' + board.comment_cnt + ']'}">제목</a></td>-->
                <!--        <td th:text="${board.writer}">작성자</td>-->
                <td th:text="${comment.content}">댓글 내용</td>
                <td th:text="${comment.regdate}">등록일</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <!-- 페이징 버튼 -->
    <div class="paging-btn" th:if="${not myCommentList.isEmpty()}">
        <div class="blank-space"></div>

        <!--            <a th:if="${nowPage > 5}" th:href="@{/search(page=1, sortType=${sortType}, sortOrder=${sortOrder}, keyword=${keyword}, searchType=${searchType})}">처음</a>-->

        <a th:if="${nowPage > 5}" th:href="@{/mypage/mycomment/(page=0)}">처음</a>
        <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/mypage/mycomment/(page=${page})}" th:text="${page}"></a>
            <!--                <a th:if="${page != nowPage}" th:href="@{/search(page=${page})}" th:text="${page}"></a>-->
            <strong th:if="${page==nowPage}" th:text ="${page}" style="color:#4F5E5A; font-weight: bolder; font-size: larger; margin-bottom: 15px;"></strong>
        </th:block>
        <!--            <a th:if="${nowPage < lastPage - 4}" th:href="'/?page='+${lastPage}">마지막</a>-->
        <a th:if="${nowPage < lastPage - 5}" th:href="@{/mypage/mycomment/(page=${lastPage})}">마지막</a>
        <!--            <a th:if="${nowPage < lastPage}" th:href="@{/search(page=${lastPage})}">마지막</a>-->
        <div class="blank-space"></div>
    </div>

</div>
</html>