<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">

    <div class="nickname-container">
        <div class="nickname">
            <h2 th:text="${nickname}" style="color:#4F5E5A; font-size:50px;"></h2>
        </div>
        <div class="nickname">
            <h3 style="color:#4F5E5A;">님, 안녕하세요!</h3>
        </div>
    </div>

    <h3 th:text="${email}" style="color:#4F5E5A;"></h3>

    <hr class="my-4">


    <div class="mylist">
        <div class="blank-space" style="width:65px;"></div>
        <p><a href="/mypage/myboard" style="color:#4F5E5A; font-size:50px; font-weight:bolder;">내가 쓴 게시글</a></p>
        <p><a href="/mypage/mycomment" style="color:#4F5E5A; font-size:50px; font-weight:bolder;">내가 쓴 댓글</a></p>
        <div class="blank-space" style="width:65px;"></div>
    </div>
    <div class="mylist">
        <div class="blank-space" style="width:65px;"></div>
        <p><a href="/admin/recyclebin" style="color:#4F5E5A; font-size:50px; font-weight:bolder;">삭제된 글</a></p>
        <p><a href="/admin/history" style="color:#4F5E5A; font-size:50px; font-weight:bolder;">삭제/복구 이력</a></p>
        <div class="blank-space" style="width:65px;"></div>
    </div>



</div>
</html>