<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
  <table class="table">
    <thead>
      <tr style="text-align:center">
        <th colspan="3">제목</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>글쓴이</td>
        <td>2023-04-11</td>
        <td>3</td>
      </tr>
      <tr style="min-height:300px">
        <td colspan="3">contents</td>
      </tr>
    </tbody>
  </table>


</div>
</html>