<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
  <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

  <div class="container-write">
    <form action="/write" method="post" enctype="multipart/form-data">
      <div id="content-view">
        <div id="content-view-inner">
          <input type="text" id="write-title" name="title" placeholder="글 제목" maxlength="30" style="width: 100%; max-width: 800px; border:none; outline: none; font-size:20px; color:#4F5E5A;"><hr>
          <textarea id="editor" name="content" placeholder="내용을 입력하세요" style="color:#4F5E5A"></textarea><hr>
          <input type="button" class="btn" value="작성취소" />
          <input type="submit" class="btn" value="작성완료" />
          <hr><br><br>
        </div>
      </div>
    </form>
  </div>


<!-- CKEditor -->
  <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
  <script>
    ClassicEditor
            .create(document.querySelector('#editor'), {
              ckfinder: {
                uploadUrl : '/image/upload'
              }
            })
            .then(editor => {
              console.log('Editor was initialized');
            })
            .catch(error => {
              console.error(error);
            });
  </script>
</div>
</html>