<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
  <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #679289;">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/main">PAGE6</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <button class="btn btn-light float-right" type="button" th:onclick="|location.href='@{/members/login}'|" sec:authorize="isAnonymous()">로그인</button>
      <button class="btn btn-light float-right" type="button" th:onclick="|location.href='@{/members/logout}'|" sec:authorize="isAuthenticated()">로그아웃</button>
    </div>
  </nav>
</div>

</html>