html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.footer {
    background-color: #292c2f;
    color: #8f9296;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom: 300px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.container, .ck.ck-editor, .container-write {
    max-width: 1200px;
}

.ck.ck-editor, .container-write {
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
}

.ck-editor__editable {
    height: 70vh;
}

.card {
    min-width: 350px;
    max-width: 350px;
}

.card-deck > .card {
    margin-bottom: 1rem;
}

.card-img-top {
    min-width: 300px;
}

/*.table, .table td, .table th {*/
/*    text-align: center;*/
/*}*/

