html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.eye, .heart {
    width: 17px;
    height: 12px;
    margin-bottom: 3px;
}

.heart {
    width: 14px;
    height: 12px;
    margin-bottom: 3px;
}

.scroll {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

a {
    text-align: center;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
    cursor: pointer;  /* 포인터 생성 */
}

a:hover{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

.header {
    /*background: linear-gradient( to top, white, #B2DBD1 );*/
    height: 120px;
}

.footer {
    background: linear-gradient( to bottom, white, #4F5E5A );
    color: #4F5E5A;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*height: 150px;*/
    padding: 15px 0;
    text-align: center;

}
.content{
    margin-bottom: 300px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.container, .ck.ck-editor, .container-write {
    max-width: 1400px;
}

.ck.ck-editor, .container-write {
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
}

.ck-editor__editable {
    height: 70vh;
}

.sort-tab {

}

.card-deck {
    justify-content: space-between;
}

.card {
    min-width: 300px;
    max-width: 300px;
}

.likes {
    padding: 12px 20px;
    display: inline;
    text-align: right;
}

.card-deck > .card {
    margin-bottom: 1rem;
}
.card-img-top {
    max-width: 295px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* input 기본 스타일 초기화 */
input {
    border:none;
    outline: none;
    outline-style: none;/*크롬 브라우져 input 주황색 테두리 없애는법*/
    border-radius:0px 0px; /* 아이폰의 input 라운드 초기화 */
    -webkit-appearance:none; /* form 요소의 디바이스 기반 스타일 초기화 */
    border: 0;
}

.box {
    outline: none;
    /*font-weight: bold;*/
    color: #4F5E5A;
}

.search-btn-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#keyword.box {
    width: 230px;
}

.btn {
    border: 2px #4F5E5A;
    background-color: transparent;
    font-weight:900;
    color: #4F5E5A;
    outline: none;
}
.btn:hover {
    background-color: #4F5E5A;
    color: white;
}

.btn:active, .btn:focus {
    border: none;
    box-shadow: none;
    background-color: #4F5E5A;
}

.search-btn:focus {
    border: 2px #4F5E5A;
    background-color: transparent;
    font-weight: bolder;
    color: #4F5E5A;
    outline: none;
}

.form-control, .form-control:focus {
    border: none;
    box-shadow: none;
}

ul {
    list-style:none;
    padding-left:0px;
}

/*.noleft {*/
/*    line-height: 150px;*/
/*    width: 50%;*/
/*    float: right;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/


.header-content {
    width: 100%;
    line-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paging-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blank-space {
    width: 300px;
}

.login-btn, .login-out {
    width: 150px;
    text-align: right;
    vertical-align: middle;
    font-weight: bolder;
}
#logo-img {
    width: 200px;
    height: 112px;
    display: table-cell;
    vertical-align: middle;
}

/*플로팅 버튼 수정X========*/
.floating-button {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index: 999;
}

/*플로팅 버튼 아이콘 공용 스타일 수정X========*/
.write-btn::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 50%;
    font-size: 1.5em;
    font-family: 'Font Awesome 5 Pro';
    /*플로팅 버튼 아이콘 색상 수정O*/
    content:'\f304';
    color: #4F5E5A;
}

/*플로팅 버튼 스타일========*/
.move-write {
    float: left;
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 55px;
    margin-bottom: 140px;
    /*사용자 설정 파트*/
    font-weight: 700;
    background-color: #00000000;
    border: 2px solid #4F5E5A;
}
/*.table, .table td, .table th {*/
/*    text-align: center;*/
/*}*/

/*좋아요 스타일*/
#heart-icon-false {
    color: #4F5E5A;
}

#heart-icon-false:hover {
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234F5E5A'%3E%3Cpath fill-rule='evenodd' d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

#heart-icon-true {
    color: #4F5E5A;
}

/* 글쓰기 페이지 해시태그 추가 */
.innerBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%; /* 추가 */
}

.tagInput{
    border: none;
    outline: none;
    height: 2rem;
    padding: .3rem;
    font-size: 1rem;
}

/*
.tagBox{
    border: 1px solid rgba(0,0,0,0.2);
    padding: .3rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
*/

.tag{
    display: inline-block;
    text-align: center;
    height: 2rem;
    padding: .3rem .5rem;
    margin: auto;
    font-size: .9rem;
    background-color: rgba(79, 108, 87, 0.719);
    color: white;
    font-weight: 700;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    margin: 0.2rem;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.close{
    cursor: pointer;
    height: 18px;
    line-height: 0.7;
}

/*span.tag {*/
/*    display: flex;*/
/*    justify-content: center; !* 플랙스 박스 정렬 *!*/
/*    align-items: center; !* 플랙스 아이템 정렬 *!*/
/*}*/

.form-inline{
    display: flex;
    justify-content: flex-end;
}