html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}

a {
    text-align: center;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}
a:hover{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}
.header {
    /*background: linear-gradient( to top, white, #B2DBD1 );*/
    height: 150px;
}
.footer {
    background-color: #292c2f;
    color: #8f9296;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom: 300px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.container, .ck.ck-editor, .container-write {
    max-width: 1200px;
}

.ck.ck-editor, .container-write {
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
}

.ck-editor__editable {
    height: 70vh;
}

.card {
    min-width: 350px;
    max-width: 350px;
}

.card-deck > .card {
    margin-bottom: 1rem;
}

.card-img-top {
    min-width: 300px;
}

/*.noleft {*/
/*    line-height: 150px;*/
/*    width: 50%;*/
/*    float: right;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/


.header-content {
    width: 100%;
    line-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.main-logo {*/
/*    width:100px;*/
/*}*/
.login-btn, .login-out {
    width: 200px;
    text-align: right;
    vertical-align:middle;
}
#logo-img {
    width: 200px;
    height: 112px;
    display: table-cell;
    vertical-align: middle;
}

/*.table, .table td, .table th {*/
/*    text-align: center;*/
/*}*/

